@import url("https://fonts.googleapis.com/css?family=Cantarell=400,700");
@import url("https://fonts.googleapis.com/css?family=Parisienne");
/* basic css */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

div {
    position: relative;
    z-index: 2;
}

body {
    background-color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* styling  quote-box */
#quote-box {
    border: 5px solid rgb(114, 165, 223);
    border-radius: 20px;
    position: relative;
    width: 500px;
    padding: 40px 50px;
    display: table;
    background-color: #fff;
}

#quote-box .quote-text {
    text-align: center;
    width: 500px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
}

/* customize the size of quotes */
#quote-box .quote-text i {
    font-size: 0.8em;
    margin-right: 1em;
    color: blue;
}

#quote-box .quote-author {
    font-family: "Parisienne";
    width: inherit;
    height: auto;
    clear: both;
    padding-top: 30px;
    font-size: 1.6em;
    font-weight: bolder;
    text-align: center;
}

#quote-box .buttons {
    width: 500px;
    margin: auto;
    display: block;
}
#quote-box .buttons .button {
    height: 40px;
    border: 1px solid blueviolet;
    border-radius: 3px;
    color: #fff;
    background-color: blue;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
}

#quote-box .buttons .button#tweet-quote {
    float: left;
    padding: 0px;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 30px;
    width: 40px;
}

#quote-box .buttons .button#new-quote {
    float: right;
    font-size: medium;
    font-weight: bolder;
}

.rule {
    height: 1em;
    background: #000;
    margin: 30px 0;
}

/* Footer styling */
.footer {
    width: inherit;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer a {
    text-align: center;
    text-decoration: none;
    color: rgb(8, 8, 158);
    font-size: 20px;
}
